@import "../../responsive/responsive.scss";
.aboutContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #f6f6ef;
  overflow: hidden;
  .aboutElement {
    width: 95%;
    height: 85vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    @include responsive1024 {
      height: 90vh;
    }
    div:first-child {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      @include responsive1024 {
        width: 95%;
      }
      h2 {
        font-size: 50px;
        font-weight: bold;
        font-family: "Poppins";
        color: black;
        @include responsive1024 {
          font-size: 30px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 300;
        font-family: "Poppins";
        text-align: justify;
        color: black;
        @include responsive1024 {
          font-size: 14px;
        }
      }
    }
    .logoElement {
      width: auto;
      height: auto;
      position: absolute;
      left: 10%;
      bottom: 5%;
      @include responsive768 {
        display: none;
      }
      @include responsive768to1440 {
        display: block;
        left: 1%;
      }
      .logo {
        width: 300px;
        height: 300px;
        rotate: -30deg;
        @include responsive768to1440 {
          width: 200px;
          height: 200px;
        }
      }
    }
    .circle {
      position: absolute;
      bottom: -15%;
      right: -15%;
      .circleImage {
        width: 900px;
        height: 820px;
        @include responsive768 {
          width: 350px;
          height: 400px;
        }
        @include responsive768to1440 {
          width: 600px;
          height: 600px;
        }
      }
    }
    .justImage {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 100;
      display: flex;
      justify-content: flex-end;
      @include responsive768 {
        width: 200px;
        align-items: flex-end;
      }
      @include responsive768to1440 {
        width: 400px;
        align-items: flex-end;
      }
      @include responsive1440 {
        position: unset;
      }
      .image {
        width: 50%;
        height: 700px;
        object-fit: cover;
        position: absolute;
        bottom: -5%;
        right: 0;
        z-index: 100;
        @include responsive768 {
          width: 100%;
          height: 320px;
        }
        @include responsive768to1440 {
          width: 100%;
          height: 450px;
          right: -15%;
        }
        @include responsive1440 {
          right: -10%;
        }
      }
    }
  }
}
