.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  .cardCountry {
    width: 280px;
    height: 300px;
    perspective: 1500px;
    .content1 {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
      .overlay,
      .backInfo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 6px;
        .inner {
          height: 100%;
          display: grid;
          padding: 8px;
          transform: translateZ(80px) scale(0.94);
          grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
          justify-items: center;
          .imageFront {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
            position: absolute;
            margin-left: 2px;
          }
          .text1,
          .text2 {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(218, 155, 9);
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            z-index: 1;
          }
          .text2 {
            top: 50px;
            font-size: 14px;
            color: black;
          }
          .onlyTextInBack {
            color: black;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          .button {
            grid-column: 1/-1;
            justify-self: center;
          }
          .button {
            grid-row: -1;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            cursor: pointer;
            display: block;
            padding: 10px 20px;
            background-color: green;
            border: 2px solid black;
            color: white;
            border-radius: 4px;
            position: absolute;
            bottom: 15px;
            backface-visibility: hidden;
            transition: 0.3s ease-in-out;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            font-size: 14px;
          }
          .button:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            text-shadow: none;
          }
          .return {
            line-height: 3em;
            color: white;
            background-color: black;
            text-shadow: none;
            padding: 5px 10px;
          }
        }
      }
      .backInfo {
        transform: rotateY(180deg);
        background-color: yellow;
        border: 2px solid black;
      }
      .overlay:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 6px;
        backface-visibility: hidden;
        border: 2px solid rgb(0, 0, 0);
      }
    }
    .more1 {
      display: none;
    }
    .more1:checked ~ .content1 {
      transform: rotateY(180deg);
    }
    .azerbaijanOffice {
      z-index: 100;
    }
  }
  .cardCountry:first-of-type {
    position: sticky;
    top: 20%;
    z-index: 1;
    margin-bottom: 170px;
  }
  .cardCountry:nth-of-type(2) {
    position: sticky;
    top: 20%;
    z-index: 2;
  }
  .cardCountry:nth-of-type(3) {
    position: sticky;
    top: 20%;
    z-index: 3;
  }
  .cardCountry:nth-of-type(4) {
    position: sticky;
    top: 20%;
    z-index: 4;
  }
  .cardCountry:nth-of-type(5) {
    position: sticky;
    top: 20%;
    z-index: 5;
  }
  .cardCountry:nth-of-type(6) {
    position: sticky;
    top: 20%;
    z-index: 6;
  }
  .cardCountry:nth-of-type(7) {
    position: sticky;
    top: 20%;
    z-index: 7;
  }
  .cardCountry:nth-of-type(8) {
    position: sticky;
    top: 20%;
    z-index: 8;
  }
  .cardCountry:nth-of-type(9) {
    position: sticky;
    top: 20%;
    z-index: 9;
  }
}
