@import "../../responsive/responsive.scss";
.educationContainer {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/images/Educationbg.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  .leftSide {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 40px;
    @include responsive768 {
      height: 90vh;
      gap: 10px;
      padding-left: 20px;
    }
    h2 {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 80px;
      @include responsive768 {
        font-size: 40px;
      }
    }
    p {
      width: 350px;
      font-family: "Poppins";
      font-size: 16px;
      text-align: justify;
      @include responsive768 {
        width: 95%;
        font-size: 14px;
      }
    }
  }
  // -----------slider--------
  .slider {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
    padding-right: 100px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @include responsive768 {
      padding: 0;
      align-items: center;
      height: 76vh;
      gap: 50px;
    }
    .sliderTransparent {
      width: 700px;
      padding: 400px 0;
      position: relative;
      background-color: transparent;
      @include responsive768 {
        width: 300px;
        height: 300px;
      }
    }
    .sliderElement {
      width: 700px;
      height: 400px;
      position: relative;
      @include responsive768 {
        width: 302px;
        height: 252px;
        border: 1px solid black;
        border-radius: 30px;
      }
      .educationImageElement {
        width: 750px;
        height: 450px;
        border-radius: 30px;
        position: relative;
        @include responsive768 {
          width: 300px;
          height: 250px;
          background-color: black;
        }
        .overElement {
          display: none;
          @include responsive768 {
            position: absolute;
            top: 7px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            z-index: 200;
          }
          h3 {
            color: yellow;
          }
          .cartUpEducationName {
            font-weight: bold;
            color: white;
          }
        }
        .overlay {
          display: none;
          @include responsive768 {
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.312);
            z-index: 1;
            border-radius: 25px;
          }
        }
        .mobilEducationImage {
          width: 100%;
          height: 450px;
          object-fit: cover;
          border-radius: 30px;
          @include responsive768 {
            height: 250px;
          }
        }
        .detail {
          display: none;
          @include responsive768 {
            display: block;
            position: absolute;
            bottom: 5%;
            right: -20px;
            transform: translateX(-50%);
            z-index: 100;
            width: 100px;
            height: 35px;
            border-radius: 10px;
            border: none;
            color: black;
            background-color: #facb1c;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 600;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.236);
          }
        }
      }
      .halfCircle {
        position: absolute;
        top: 0;
        width: 450px;
        height: 450px;
        border-radius: 30px;
        @include responsive768 {
          display: none;
        }
        .educationCart {
          width: 100%;
          height: 450px;
          border-radius: 30px;
        }
      }
      .webEducationText,
      .mobilEducationText {
        position: absolute;
        bottom: 0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
        font-family: "Poppins";
        padding: 15px;
        font-size: 14px;
        z-index: 1;
        h2 {
          font-size: 20px;
          @include responsive768 {
            font-size: 18px;
          }
        }
        span {
          color: #facb1c;
        }
        p {
          width: 320px;
          @include responsive768 {
            width: 280px;
          }
        }
        a {
          text-decoration: none;
          color: white;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.05);
            color: #facb1c;
          }
        }
      }
      .mobilEducationText {
        top: 0;
        bottom: unset;
      }
      .webEducationText {
        @include responsive768 {
          display: none;
        }
      }
    }
    .sliderElement:first-of-type {
      position: sticky;
      top: 20%;
      z-index: 1;
      margin-bottom: 170px;
      @include responsive768 {
        margin-bottom: 120px;
      }
    }
    .sliderElement:nth-of-type(2) {
      position: sticky;
      top: 20%;
      z-index: 2;
    }
    .sliderElement:nth-of-type(3) {
      position: sticky;
      top: 20%;
      z-index: 3;
    }
    .sliderElement:nth-of-type(4) {
      position: sticky;
      top: 20%;
      z-index: 4;
    }
    .sliderElement:nth-of-type(5) {
      position: sticky;
      top: 20%;
      z-index: 5;
    }
    .sliderElement:nth-of-type(6) {
      position: sticky;
      top: 20%;
      z-index: 6;
    }
    .sliderElement:nth-of-type(7) {
      position: sticky;
      top: 20%;
      z-index: 7;
    }
    .sliderElement:nth-of-type(8) {
      position: sticky;
      top: 20%;
      z-index: 8;
    }
    .sliderElement:nth-of-type(9) {
      position: sticky;
      top: 20%;
      z-index: 9;
    }
    .sliderTransparent {
      z-index: 1;
    }
  }
}
