@import "../../responsive/responsive.scss";
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #e6b919 0%,
    #c09b16 20%,
    #9a7c12 40%,
    #705b0d 60%,
    #504009 80%,
    #241c04 100%
  );
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  // -----------about-company---------------
  .aboutCompanyContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000006b;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    .aboutCompanyElement {
      width: 600px;
      height: 400px;
      background-color: white;
      border-radius: 20px;
      @include responsive768 {
        width: 90%;
        border: 2px solid black;
      }
      h2 {
        text-align: center;
        padding-top: 10px;
        color: black;
        font-family: "Poppins";
        font-size: 24px;
      }
      .imageCon {
        width: 400px;
        height: 200px;
        margin: 0 auto 10px auto;
        @include responsive768 {
          width: 100%;
          object-fit: contain;
        }
        .images {
          width: 100%;
          height: 200px;
          @include responsive768 {
            object-fit: contain;
          }
        }
      }
      .popUpTexts {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
        padding: 10px 20px;
      }
      .buttonContainer {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include responsive768 {
          height: 40px;
        }
        button {
          cursor: pointer;
          border-radius: 5px;
          border: none;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
        button {
          padding: 5px 20px;
          background-color: black;
          color: #facb1c;
        }
      }
    }
  }
  // -----------popup---------------
  .popUpContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000006b;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    .popUpElement {
      width: 600px;
      height: 500px;
      background-color: white;
      border-radius: 20px;
      @include responsive768 {
        width: 90%;
        border: 2px solid black;
      }
      h2 {
        text-align: center;
        padding-top: 10px;
        color: black;
        font-family: "Poppins";
        font-size: 24px;
      }
      .imageCon {
        width: 400px;
        height: 200px;
        margin: 0 auto 10px auto;
        @include responsive768 {
          width: 100%;
          object-fit: contain;
        }
        .images {
          width: 100%;
          height: 200px;
          @include responsive768 {
            object-fit: contain;
          }
        }
      }
      .popUpTexts {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        padding: 10px 20px;
      }
      .buttonContainer {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include responsive768 {
          height: 40px;
        }
        button {
          cursor: pointer;
          border-radius: 5px;
          border: none;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
        button:first-child {
          padding: 5px 20px;
          background-color: black;
          color: #facb1c;
        }
        button:last-child {
          padding: 5px 30px;
          background-color: #facb1c;
          color: black;
        }
      }
    }
  }
  // -----------portfolio-texts--------------
  .portfolioTexts {
    width: 450px;
    height: 92vh;
    padding-left: 40px;
    @include responsive768 {
      width: 95%;
      padding-left: 10px;
    }
    .projectsHeaderText {
      display: flex;
      align-items: center;
      gap: 20px;
      h2 {
        font-family: "Poppins";
        color: black;
        font-size: 45px;
        font-weight: bold;
        @include responsive768 {
          font-size: 24px;
        }
      }
      p {
        font-family: "Poppins";
        color: black;
        font-size: 35px;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 100%;
        padding: 5px 15px;
        @include responsive600 {
          font-size: 28px;
          color: white;
          border: 3px solid white;
        }
      }
    }
    .portfolioContainer {
      @include responsive768 {
        max-width: 400px;
        height: 370px;
        overflow-y: scroll;
        border-radius: 5px;
        padding: 10px 0;
        background-color: white;
        margin-top: 10px;
      }
      .portfolioPart {
        width: 100%;
        height: 160px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-top: 10px;
        background-color: white;
        border-radius: 10px;
        @include responsive768 {
          background-color: transparent;
          height: unset;
        }
        li:first-child {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: default;
          @include responsive768 {
            display: none;
          }
          &:hover {
            transform: scale(1);
          }
          h3 {
            font-size: 24px;
            font-style: italic;
            font-family: "Poppins";
            color: black;
            padding-left: 20px;
            @include responsive768 {
              font-size: 18px;
            }
          }
          p {
            cursor: pointer;
            font-size: 18px;
            color: black;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.03);
              color: #9a7c12;
            }
          }
        }
        .elements {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          overflow-y: auto;
          padding: 5px 20px;
          @include responsive768 {
            overflow: unset;
            padding: 0 10px;
            gap: 15px;
          }
          .imageContainer {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            z-index: 1;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.04);
            }
            .imageElement {
              width: 62px;
              height: 42px;
              border-radius: 10px;
              border: 1px solid black;
              @include responsive768 {
                border-radius: 5px;
              }
              .image {
                width: 60px;
                height: 40px;
                border-radius: 10px;
                @include responsive768 {
                  border-radius: 5px;
                }
              }
            }
            p {
              font-size: 16px;
              color: black;
              @include responsive400 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  // -----------slider---------
  .firstSliderContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 220px;
    overflow: hidden;
    position: absolute;
    @include responsiveMin768 {
      display: none;
    }
    .firstSliderElement {
      display: flex;
      flex-direction: row;
      animation: rightSliderShow 30s infinite linear;
      position: relative;
      @keyframes rightSliderShow {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      a {
        text-decoration: none;
        .slider {
          width: 170px;
          display: flex;
          align-items: center;
          .image {
            width: 150px;
            height: 100px;
            border-radius: 20px;
            object-fit: cover;
            transition: all 0.5s ease;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
.elements::-webkit-scrollbar,
.popUpTexts::-webkit-scrollbar,
.portfolioContainer::-webkit-scrollbar {
  width: 12px;
}
.elements::-webkit-scrollbar-thumb,
.popUpTexts::-webkit-scrollbar-thumb,
.portfolioContainer::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}
.elements::-webkit-scrollbar-thumb:hover,
.popUpTexts::-webkit-scrollbar-thumb:hover,
.portfolioContainer::-webkit-scrollbar-thumb:hover {
  background-color: #565656;
}
