.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #e6b919 0%,
    #c09b16 20%,
    #9a7c12 40%,
    #705b0d 60%,
    #504009 80%,
    #241c04 100%
  );
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .portfolioTexts {
    width: 45%;
    height: 92vh;
    padding-left: 40px;
    .portfolioContainer {
      h2 {
        font-family: "Poppins";
        color: black;
        font-size: 50px;
        font-weight: bold;
      }
      .portfolioPart {
        width: 400px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 10px;
        padding-bottom: 5px;
        li:first-child {
          cursor: default;
          &:hover {
            transform: scale(1);
          }
          h3 {
            font-size: 24px;
            font-style: italic;
            font-family: "Poppins";
            color: black;
            padding-left: 20px;
          }
        }
        .elements {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          overflow-y: auto;
          padding: 0 20px;
          .imageContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.04);
            }
            .imageElement {
              width: 62px;
              height: 42px;
              border-radius: 10px;
              border: 1px solid black;
              .image {
                width: 60px;
                height: 40px;
                border-radius: 10px;
              }
            }
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}
