@import "../../responsive/responsive.scss";
.sliderContainer {
  width: 55%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  @include responsive768 {
    display: none;
  }
  .paused {
    animation-play-state: paused !important;
  }
  .firstSliderContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 25px;
    height: 100px;
    @include responsive768to1350 {
      width: 200px;
    }
    .firstSliderElement {
      display: flex;
      flex-direction: column;
      animation: upSliderShow 35s infinite linear;
      position: relative;
      @keyframes upSliderShow {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-100%);
        }
      }
      a {
        text-decoration: none;
        .slider {
          width: 250px;
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          @include responsive768to1350 {
            width: 150px;
          }
          .image {
            width: 200px;
            height: 150px;
            border-radius: 20px;
            object-fit: cover;
            transition: all 0.5s ease;
            cursor: pointer;
            @include responsive768to1350 {
              width: 150px;
              height: 100px;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  //   ----------second-slider-----------
  .secondSliderContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 25px;
    @include responsive768to1350 {
      width: 200px;
    }
    .secondSliderElement {
      display: flex;
      flex-direction: column;
      animation: downSliderShow 35s infinite linear;
      position: relative;
      @keyframes downSliderShow {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(0);
        }
      }
      .slider {
        width: 250px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @include responsive768to1350 {
          width: 150px;
        }
        .image {
          width: 200px;
          height: 150px;
          border-radius: 20px;
          object-fit: cover;
          transition: all 0.5s ease;
          cursor: pointer;
          @include responsive768to1350 {
            width: 150px;
            height: 100px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  // -------------third-slider-----------
  .thirdSliderContainer {
    @include responsive768to1024 {
      display: none;
    }
  }
}
