* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.fullpage-container {
  width: 100%;
  height: 100vh;
}
html,
body {
  overflow-y: unset;
}
@media screen and (min-width: 1024px) {
  .section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }
  html,
  body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
}
