@import "../../responsive/responsive.scss";

.evaluateContainer {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  position: relative;
  @include responsive768 {
    width: 300px;
    height: 280px;
  }
  h2 {
    font-size: 30px;
    font-family: "Poppins";
  }
  .starElement {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      cursor: pointer;
      font-size: 30px;
      padding: 0 10px;
      transition: color 0.3s;
      &:hover,
      &.hovered {
        color: #facb1c;
      }
      @include responsive768 {
        font-size: 20px;
      }
    }
  }
  .commentContainer {
    width: 90%;
    margin-bottom: 10px;
    textarea {
      width: 100%;
      height: 130px;
      resize: none;
      padding: 5px;
      font-size: 16px;
      border-radius: 10px;
      &::placeholder {
        font-family: "Poppins";
        @include responsive768 {
          font-size: 14px;
        }
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      padding: 10px 25px;
      border-radius: 10px;
      border: none;
      font-size: 14px;
      font-family: "Poppins";
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      @include responsive768 {
        font-size: 12px;
      }
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.236);
      }
      &:first-child {
        background-color: black;
        color: white;
      }
      &:last-child {
        background-color: #facb1c;
        color: black;
      }
    }
  }
}
