@import "../../responsive/responsive.scss";
.certificationsContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background-image: url(../../../assets/certifications/Certifications.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include responsive1024 {
    background-image: none;
    background-color: black;
  }
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.301);
  }
}
